*{
    max-width: 1200px;
    margin:auto;
}


.marketing-site-footer {
    background: #2c3840;
    color: #8aa0ae;
    padding: 2rem 0 0;
  }
  
  .marketing-site-footer .marketing-site-footer-menu-social a {
    color: #fefefe;
  }
  
  .marketing-site-footer .column-block {
    margin-bottom: 30px;
  }
  
  .marketing-site-footer > .row {
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 39.9375em) {
    .marketing-site-footer .columns {
      margin-bottom: 2rem;
    }
  }
  
  .marketing-site-footer-name {
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .marketing-site-footer-title {
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  
  .marketing-site-footer-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
  }
  
  .marketing-site-footer-block .fa {
    font-size: 2rem;
    color: #020304;
  }
  
  .marketing-site-footer-block p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }
  
  .marketing-site-footer-bottom {
    background: #020304;
    padding: 1rem 0;
  }
  
  .marketing-site-footer-bottom p,
  .marketing-site-footer-bottom .menu {
    margin-bottom: 0;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
    color: #8aa0ae;
  }
  
  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom {
      text-align: center;
    }
  }
  
  
  

  .card-product:hover .card-product-img-wrapper img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  
  .card-product:hover .card-product-img-wrapper .button {
    -webkit-transform: translateY(-3rem);
        -ms-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  
  .card-product-img-wrapper {
    margin-bottom: 1.375rem;
    position: relative;
    overflow: hidden;
  }
  
  .card-product-img-wrapper .button {
    transition: all 0.2s ease;
    background-color: #767676;
    padding: 1rem 0.5rem;
    bottom: -3rem;
    -webkit-transform: translateY(3rem);
        -ms-transform: translateY(3rem);
            transform: translateY(3rem);
    position: absolute;
    z-index: 2;
    color: #fefefe;
    margin-bottom: 0;
  }
  
  .card-product-img-wrapper .button:hover {
    background-color: #1779ba;
  }
  
  .card-product-img-wrapper img {
    transition: all 0.2s ease;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    width: 100%;
  }
  
  .card-product-img-wrapper .card-product-name {
    font-size: 1.375rem;
  }
  
  .card-product-img-wrapper .card-product-price {
    font-weight: bold;
  }
  
  .card-product-img-wrapper .card-product-description {
    color: #8a8a8a;
    font-size: 0.875rem;
    margin-bottom: 0;
  }


  
  
.product-filters {
  padding: 0.5rem 1.5rem;
  background-color: #fefefe;
  margin-top: 2.5rem;
}

.product-filters label {
  color: #8a8a8a;
}

.product-filters .menu.nested {
  margin-left: 0rem;
  margin-bottom: 0.9rem;
}

.product-filters .menu > li > a {
  padding-left: 0;
  color: #4a4a4a;
  font-size: 0.85rem;
  font-weight: 600;
}

.product-filters .is-accordion-submenu-parent > a::after {
  border-color: #cacaca transparent transparent;
}

.product-filters .clear-all {
  font-size: 0.9rem;
  color: #cacaca;
}

.product-filters .more {
  color: #1779ba;
  font-size: 0.9rem;
  cursor: pointer;
}

.product-filters-header {
  font-size: 1.25rem;
  padding-top: 0.5rem;
}

.product-filters-tab {
  border-top: 1px solid #e6e6e6;
}

.product-filters-tab:last-child() {
  border-bottom: 1px solid #e6e6e6;
}

.mobile-product-filters {
  border-bottom: 1px solid #e6e6e6;
}


.responsive-blog-footer {
  background: #4a4a4a;
  padding: 3rem 3rem;
  color: white;
}

@media screen and (max-width: 39.9375em) {
  .responsive-blog-footer h4 {
    font-size: 1.5rem;
  }
}

.responsive-blog-footer p {
  color: #8a8a8a;
}

.responsive-blog-footer .mailing-list {
  margin-bottom: 1.5rem;
}

.responsive-blog-footer .mailing-container {
  margin-bottom: 2rem;
}

.responsive-blog-footer .about-section, .responsive-blog-footer .tag-section {
  margin-bottom: 2rem;
}

.responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
  color: #1779ba;
}

.responsive-blog-footer .subscribe-button {
  background-color: #1779ba;
}

.responsive-blog-footer .subscribe-button:hover {
  background-color: #146aa3;
  transition: color 0.3s ease-in;
}

.responsive-blog-footer .fa-chevron-circle-up {
  font-size: 3rem;
  color: #8a8a8a;
}

.responsive-blog-footer .fa-chevron-circle-up:hover {
  color: #b0b0b0;
  transition: color 0.3s ease-in;
}

.login{
  max-width: 500px;
  margin: auto;
}


.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
}

.responsive-card-table th {
  background-color: #e6e6e6;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {
    
  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}

